<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534657287923-pfi1df0nvb9pn4ntemjd761q5poboeug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534657287923-pfi1df0nvb9pn4ntemjd761q5poboeug</string>
	<key>API_KEY</key>
	<string>AIzaSyAeIjjdqvVNmtchwiGTARXkL4Lzl-I0_5k</string>
	<key>GCM_SENDER_ID</key>
	<string>534657287923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>braasch.WGdotorg</string>
	<key>PROJECT_ID</key>
	<string>wgdotorg-739df</string>
	<key>STORAGE_BUCKET</key>
	<string>wgdotorg-739df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534657287923:ios:f385bf1526f26de4</string>
	<key>DATABASE_URL</key>
	<string>https://wgdotorg-739df.firebaseio.com</string>
</dict>
</plist>